# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 100

print(number)

number_2 = 1000

100

In [6]:
number_2

print(number_2)

#here is a comment

1000

#### Assigning Float

In [10]:
num_float = 2.03

number_float = 5.77

print(num_float)
print(number_float)

num_float + number_float
#stackoverflow.com - is floating point math broken

2.03
5.77

7.799999999999999

#### Performing Calculations on ints and floats

##### Addition

In [18]:
num1 = 10.
num2 = 5.4

result = num1 + num2

print(result)

#long form incrementation
result = result + 2
print(result)

#short hand incrementation

result += 2
print(result)

15.4
17.4
19.4

##### Subtraction

In [20]:
num3 = 6
num4 = 4

result_diff = num3 - num4

print(result_diff)

#shorthand

result_diff -= 1
print(result_diff)

2
1

##### Multiplication

In [22]:
result_mul = num3 * num4
print(result_mul)

#Shorthand

result_mul *=2
print(result_mul)

24
48

##### Division

In [28]:
new_num = 10
other_num = 2

result_div = new_num / other_num
print(int(result_div))

#dividing will produce a float, so 
#if you want an integers wrap as an 'int'

#shorthand

result_div /=2
print(result_div)

5
2.5

##### Floor Division

In [38]:
num = 7

result_floor = num // 2

print(type(result_floor))
print(result_floor)

#shorthand
result_floor //= 2
print(result_floor)

<class 'int'>
3
1

##### Modulo

In [53]:
some_num = 5

other_num = 2

result_mod = some_num % other_num

print(result_mod)

#Even check - <number> % 2
some_num %= 2
print(result_mod)

1
1

##### Exponential

In [55]:
#5^2
square = 5** 2
print(square)

#Shorthand
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [65]:
name = 'Kagondu'
print(name)

sentence = "Nate's python code"
printed_quote = "Nate says 'hello'"
print(sentence)
print(printed_quote)
sen_1 = """Nate's fav word is 'hello'"""
print(sen_1)
sen_2 = 'Nate\'s favorite word is \n is "hello"'
print(sen_2)

Kagondu
Nate's python code
Nate says 'hello'
Nate's fav word is 'hello'
Nate's favorite word is
 is "hello"

##### print() <br>
<p>Don't forget about end=' '</p>

In [72]:
#help(print)
print("Hello there, my name is", name + ".")

print("Full Name: ", name, end=" Wai")

Hello there, my name is Kagondu.
Full Name:  Kagondu Wai

##### String Concatenation

In [77]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

#short hand for appending onto a string
# full_name = full name + " Jr"
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [78]:
number = "100"

change_number = int(number)
print(type(number))
print(number)

print(type(change_number))
print(change_number)

<class 'str'>
100
<class 'int'>
100

##### input()

In [82]:
#input always returns a string value --all the time

#
age = int(input("Enter your age: "))
next_year = age + 1
print("Next year you will be", next_year)

Enter your age: 50
Next year you will be 51

##### format()

In [86]:
name = input("What's your name?")
age = input("How old are you?")

#sentence  = "Hello " + name + "." + "You are " + age + " years old"

result_string = "hello {}. You are {} years old".format(name, age) 
print(result_string)

print(f"Hello {name}. You are {age} years young.")

What's your name?h
How old are you?5
hello h. You are 5 years old
Hello h. You are 5 years young.

##### Old Way (python 2)

In [88]:
result_3 = "You are %s years old and you look great!" %age
print(result_3)

You are 5 years old and you look great!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [102]:
color = input ("what color is your car?")
year = input ("What year is it")
make = input ("what make is it?")
model = input ("What model is it")

sentence = "your car is a {} {} {} {}.".format(color, year, make, model)
print(sentence)

what color is your car?blue
What year is it2018
what make is it?bmw
What model is itx
your car is a blue 2018 bmw x.

### If Statements

In [108]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 11

if num1 == num2:
    print("Equal values")
else:
    print("not equal")
    
if num1 <=num2:
    print("num1 is less than or equal to num2")
else:
    print("num1 is not less than or equal to num2")
    
if num1 == 5 or num2 / num1 == 2:
    print("num1 is 5, num 2 is 10")

not equal
num1 is less than or equal to num2
num1 is 5, num 2 is 10

##### 'is' keyword

In [109]:
#use the is keyword when looking for the same object vs just comparing 2 values

names = [1,2,3]
other_list = names
names_2 = [1,2,3]

if other_list is names:
    print("same object")
else:
    print("not same object")

same object

##### 'in' keyword

In [110]:
#check if name is a part of a larger string object

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")
    
names = [1,2,3]
if 2 in names:
    print("2 is in that list")

The character who lost everything...

##### 'not in' keyword'

In [115]:
sega_char = "Sonic"

if 'a' not in sega_char.lower():
    print('a is Not in there...')

a is Not in there...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [121]:
username = input("What's your name?")
if 'p' in username:
    print("'p' is in " + username)
else:
    print("'p' is not in " + username)

What's your name?keke
'p' is not in keke

## Using 'and'/'or' with If Statements

In [125]:
num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3

# 'IF' statement with 'and' keyword
if num_1 / num_2 == 5 and num_3 - num_4 == 7:
    print('True and True')
    
    #if statement with 'or'
if num_2 * num_3 == 30 or 3+ 3 == 25:
    print('True and false')

True and True
True and false

### Elif Statements

In [126]:
first_name = "Max"

if first_name == "Smith":
    print("My first name is Smith")
elif first_name != "Max":
    print("My first name is not Max")
else: 
    print("My name is Max")

My name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [140]:
#'for' keyword, counter, 'in' keyword, object or condition

# for i in range(10):
#     print(i)

name = 'Nate Welter'
name_2 = 'Nate Melter'

# for char in name:
#     print(char)
    
for i in range(len(name)):
    if name[i] == name_2[i]:
        print(f'The {i} index has the same value')
    else:
        print(f'The {i} index is different')
        break

The 0 index has the same value
The 1 index has the same value
The 2 index has the same value
The 3 index has the same value
The 4 index has the same value
The 5 index is different

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [141]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [147]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in range(10):
    pass# TODO: finish implementation

##### Double For Loops

In [152]:
for i in range(5):
    for j in range(5):
        print(f'i = {i} j ={j}')

i = 0 j =0
i = 0 j =1
i = 0 j =2
i = 0 j =3
i = 0 j =4
i = 1 j =0
i = 1 j =1
i = 1 j =2
i = 1 j =3
i = 1 j =4
i = 2 j =0
i = 2 j =1
i = 2 j =2
i = 2 j =3
i = 2 j =4
i = 3 j =0
i = 3 j =1
i = 3 j =2
i = 3 j =3
i = 3 j =4
i = 4 j =0
i = 4 j =1
i = 4 j =2
i = 4 j =3
i = 4 j =4

### While Loops

In [153]:
#while keyword, condition statement
#based upon conditional statements resolving

num = 0
while num <10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [154]:
game_over = False

while True:
    user_input = input("What do you want to do? Quit or continue?")
    if user_input == 'quit':
        game_over = True
        break

What do you want to do? Quit or continue?cont
What do you want to do? Quit or continue?yes
What do you want to do? Quit or continue?quit

##### While & For Loops Used Together

In [155]:
num = 0

while num < 5:
    print("\n While Loop iteration:" + str(num))
    
    for i in range(2):
        print("\n For Loop iteration:" + str (i))
    num += 1

 While Loop iteration:0

 For Loop iteration:0

 For Loop iteration:1

 While Loop iteration:1

 For Loop iteration:0

 For Loop iteration:1

 While Loop iteration:2

 For Loop iteration:0

 For Loop iteration:1

 While Loop iteration:3

 For Loop iteration:0

 For Loop iteration:1

 While Loop iteration:4

 For Loop iteration:0

 For Loop iteration:1

### Built-In Functions

##### range()

In [160]:
#Start, stop, step
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

##### len()

In [162]:
#check the length of object

name = ['Max', 'Marcus']

print(len(name))

2

##### help()

In [163]:
#gives documentation on python function

help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

##### isinstance()

In [168]:
#check variaable and instance type 
#isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print('4.5 is a float')

False
4.5 is a float

##### abs()

In [169]:
#distance from zero

print(abs(-5))

5

### Try and Except

In [1]:
#great for testing code, especially when anticipating multiple bugs
#used to log out more thoughtful error messages for yourslf and/or team

While True:
    try:
        number_test = 0
        input_num = int(input('Guess a number!'))
        if input_num != number_test:
            print("You guessed incorrectly. You guessed", input_num)
        else:
            print("Great Job")
            break
    
    except:
        print("That did not work-----ERROR: change your input to a whole number please")

SyntaxError: invalid syntax (<ipython-input-1-ff0108a4ee6b>, line 4)

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>